@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* colors */
  --body-bg-color: white;
  --sidebar-bg-color: #f4f4f4;
  --text-color: #333333;
  --title-color: #111111;
  --date-color: #1f94c2;

  --icon-color: var(--text-color);
  --circle-color: #aaa;
  --circle-color-plain: #555;

  --body-font: "Quicksand", sans-serif;
  --h1-font-size: 1.7rem;
  --h2-font-size: 1.3rem;
  --h3-font-size: 1.1rem;
  --h4-font-size: 1rem;

  --spacing-1: 0.4rem;
  --spacing-2: 0.8rem;
  --spacing-3: 1.2rem;
  --spacing-4: 1.5rem;
  --spacing-5: 2rem;
}

body {
  font-family: var(--body-font);
  font-weight: 300;
  color: var(--text-color);
  background-color: var(--body-bg-color);
}

h1,
h2,
h3 {
  margin-bottom: var(--spacing-1);
  font-weight: 400;
  color: var(--title-color);
}
h1 {
  font-size: var(--h1-font-size);
  text-transform: uppercase;
}
h2 {
  display: flex;
  text-align: center;
  margin-bottom: var(--spacing-4);
  font-size: var(--h2-font-size);
  letter-spacing: 4px;
  text-transform: uppercase;
}
p {
  margin-bottom: var(--spacing-2);
}

@media screen and (min-width: 768px) {
  grid__container {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
}

.sidebar {
  padding: 1.5rem;
  background-color: var(--sidebar-bg-color);
}

.main {
  padding: 1.5rem;
}

.circle {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  border-radius: 50%;
  background-color: var(--circle-color);
}

.circle-plain {
  background-color: var(--circle-color-plain);
}
